html{
    font-size: 10px;
    height: 100%;
}

body{

    font-size: 1.6rem;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    height: 100%;
    overflow: hidden; /* Se oculta si se sobresale algo. */
}

.layout{
    width: 100%;
    height: 100%;

}


.layout__main{
    width: 100%;
    min-height: 100%;
    /* position: absolute; /* Posicionar todo el contenido al centro */ 
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__background{
    content: "";
    width: calc(100% + 4rem);
    height: calc(100% + 4rem);
    position: absolute;
    z-index: -1;
    filter: blur(2.5rem);
    background-image: url(../../../../recursos-css/img/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.load__number{
    font-size: 7rem;
    font-weight: bold;
    color: white;
    text-align: center;
}

.load__btn{
    padding: 1rem;
    border: none;
    width: 100%;
    border-radius: 5px;
    font-weight: bold;
    background-color: #2e9955;
    color: white;
    cursor: pointer;
    transition: 600ms all ease-out;
}

.load__btn:hover{

    background-color: #2ca759;
}

.load__complete{
    display: none;
    color: #2ca759;
    font-weight: 600;
    font-size: 3.5rem;
    text-shadow: 0 0 1rem black;
}
