html{
    font-size: 10px;
}

body{
    font-size: 1.6rem;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    background-color: #f7f8fd;
}

.layout{
    width: 100%;
    padding: 2rem 0rem;
}

.layout__main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__articles{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 60%;
    padding: 3rem 4rem;

}






