html {
  font-size: 10px;
}

body {
  font-family: Monserrat, Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
}

.layout {
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.layout__buttons {
  width: 50rem;
  display: flex;
  flex-direction: row;
  gap: 5rem;
}

/* Botón número 1: */

.buttons__btn1 {
  position: relative;
  width: 22rem;
  height: 7rem;
  border-radius: 0.5rem;
  border: 3px solid #6cbffc;
  cursor: pointer;
  overflow: hidden; /* Esta propuedad nos ayuda a 
  mostrar solo el elemento del contenido de lo 
  que queremos mostrar. */
  font-weight: 600;
  color: #6cbffc;
  background-color: white;
  outline: none;
}

/* EFECTO BOTÓN 1 */

.buttons__btn1::before {
  content: "Subir video";
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #6cbffc;
  color: white;
  font-weight: 600;
  transform: translateY(7rem);
  transition: all 300ms linear;
}

.buttons__btn1:hover::before {
  transform: translateY(0);
}

/* ----------------------------------------------- */

.buttons__btn2 {
  position: absolute;
  background-color: #6cbffc;
  border-radius: 10rem;
  color: white;
  width: 22rem;
  height: 7rem;
  cursor: pointer;
  border: none;
  outline: none;
  font-weight: 600;
}



/* EFECTO BOTÓN 2 */

.buttons__btn2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #6cbffc;
  border-radius: 10rem;
  /* Para crear un aura tengo que crear un z-index */
  z-index: -1;
  transition: all 1s ease-in-out;
}

.buttons__btn2:hover::before {
  transform: scaleX(1.3) scaleY(1.5);
  opacity: 0;
}
