html{

    font-size: 10px;
}

body{

    font-family: Montserrat;
    font-size: 1.6rem;
    background-color: #f7f8fd;
}

.layout{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.layout__main{
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.main__slides{
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
}

.slides__item{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: aquamarine;
    transition: all 500ms linear;
}

.slides__img{
    width: 100%;
    height: 100%;
    object-fit: cover; /* Como debe redimensionarse el elemento, para ajustarse al contenedor. */
}

.main__next, 
.main__prev{
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}


.main__next .fa-solid, .main__prev .fa-solid{
    font-size: 13rem;
    color:  #317cd8;
}