html{
    font-size: 10px;
}

body{
    font-family: "Montserrat";
    font-size: 1.6rem;
    height: 100vh;
}

.layout{
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

.layout__left{
    width: 75%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.left__bg{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}



.left__bg--1{

    background-image: url('../../../recursos-css/img/coche.jpg');
}

.left__bg--2{
    background-image: url('../../../recursos-css/img/coche2.jpg');
    
}

.left__bg--3{
    background-image: url('../../../recursos-css/img/coche3.jpg');
    
}

.left__bg--4{
    background-image: url('../../../recursos-css/img/coche4.jpg');
    
}


.btns__down{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 25%;
    padding: 1rem;
    border: none;
    border-radius: 5px 0 0 5px;
    cursor: pointer;
}

.layout__right{
    position: absolute;
    width: 25%;
    height: 100%;
    top: 0;
    right: 0;
}

.right__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.right__content--1{
    background-color: #cad2f6;
}

.right__content--1{
    background-color: #b9f6b9;
}

.right__content--1{
    background-color: #d57777;
}

.right__content--1{
    background-color: #cad2f6;
}

.right__title{
    padding: 2rem;
    background-color: #323232;
    border-radius: 4px;
    margin-bottom: 2rem;
    color: white;
    font-size: 3rem;
}

.right__description{
    font-weight: 600;
}

.btns__up{
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translateY(-50%);
    padding: 1rem;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}   
